<ion-header>
  <ion-toolbar>
    <ion-title>
      receipTrac
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1>Add Receipts</h1>
  <ion-item>
    <ion-input placeholder="Enter receipt description" type="text" position="stacked"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Enter total" type="number" position="stacked"></ion-input>
  </ion-item>
  <img>
  <ion-button (click)="takePicture()" color="primary">Take a Photo</ion-button><br /><br/>
  <ion-button (click)="saveReceipt()" color="success">Save</ion-button>
</ion-content>