<app-receipts></app-receipts>
  
<!--

<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-card class="card">
          <ion-img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/ReceiptSwiss.jpg">
          <ion-card-header>
            <ion-card-title>Fill with Description Later</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>45</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
        <ion-card class="card">
          <ion-img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/ReceiptSwiss.jpg">
          <ion-card-header>
            <ion-card-title>Fill with Description Later</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>45</ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col col-6>
          <ion-card class="card">
            <ion-img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/ReceiptSwiss.jpg">
            <ion-card-header>
              <ion-card-title>Fill with Description Later</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>45</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
-->