<ion-list lines="none">
  <ion-item-sliding>
  <ion-item routerLink="/checklists/123"
  routerDirection="forward">
  <ion-label>TITLE GOES HERE</ion-label>
  <span>0 items</span>
  </ion-item>
  234
  <ion-item-options side="end">
  <ion-item-option color="light" expandable
  (click)="renameChecklist(checklist)"><ion-icon slot="icon-only"
  name="clipboard"></ion-icon></ion-item-option>
  <ion-item-option color="danger" expandable
  (click)="removeChecklist(checklist)"><ion-icon slot="icon-only"
  name="trash"></ion-icon></ion-item-option>
  </ion-item-options>
  </ion-item-sliding>
</ion-list>
